.citate-block {
    background-image: url("/src/img/background/citate-layer.jpg");
    height: 498px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
        height: 800px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
        height: 800px;
    }
}

.wrapper-citate {
    max-width: 1055px;

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.citate__text {
    color: $text-colour;
    width: 100%;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    z-index: 5;
    text-align: center;
    padding-top: 177px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        padding-top: 284px;
    }

    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }
}
