.graphic-design {
    width: 100%;
    // height: 1260px;
    background-color: $background-colour;
}

.wrapper-design {
    max-width: 1087px;
    padding: 0px 16px;

    @media screen and (min-width: 768px) {
        padding: 0px 32px;
        max-width: 1119px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1119px;
    }
}

.graphic-design__title {
    color: $text-colour;
    padding-top: 40px;

    font-size: 36px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 80px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.images-list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
}

.images-list__img-div {
    width: 343px;
    height: 325px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        background-image: url("../../img/SoftStar.png");
        position: absolute;
        display: inline-block;
        width: 172px;
        height: 172px;
        top: 72px;
        left: 90px;
        z-index: 10;
    }

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 414px;

        &::after {
            width: 227px;
            height: 227px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 1055px;
        height: 414px;

        &::after {
            width: 268px;
            height: 268px;
        }
    }
}

.images-list__img-div1 {
    width: 343px;
    height: 325px;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        background-image: url("../../img/svg/Butterfly.svg");
        position: absolute;
        display: inline-block;
        width: 134px;
        height: 137px;
        bottom: 99px;
        left: 103px;
        z-index: 7;
    }

    @media screen and (min-width: 768px) {
        width: 338px;
        &::after {
            width: 147px;
            height: 151px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 514px;
        height: 414px;

        &::after {
            width: 187x;
            height: 191px;
        }
    }
}

.images-list__img-div2 {
    width: 343px;
    height: 325px;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;

    &::before {
        content: "";
        background-image: url("../../img/svg/Asterisk.svg");
        position: absolute;
        display: inline-block;
        width: 148px;
        height: 143px;
        bottom: 136px;
        right: 99px;
        z-index: 7;
    }

    @media screen and (min-width: 768px) {
        width: 338px;
        &::after {
            width: 183px;
            height: 177px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 514px;
        height: 414px;

        &::after {
            width: 233px;
            height: 225px;
        }
    }
}

.images-list__newspaper {
    width: 343px;
    height: 325px;
    border-radius: 40px;
    filter: grayscale(100%);
    z-index: 1;

    @media screen and (min-width: 768px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.images-list__earth {
    width: 343px;
    height: 325px;
    border-radius: 40px;
    filter: grayscale(100%);

    @media screen and (min-width: 1200px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.images-list__wall {
    width: 343px;
    height: 325px;
    border-radius: 40px;
    filter: grayscale(100%);

    @media screen and (min-width: 1200px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
