@import "../root/root.scss";

.footer {
    height: 342px;
    background-color: $background-colour;
    position: relative;
    padding-top: 53x;
    @media screen and (min-width: 768px) {
        height: 408px;     
    }
}

.new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    // padding: 10px 33px;
    width: 342px;
    height: 72px;
    position: relative;
    top: 53px;
    margin: 0 auto;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        width: 714px;
        height: 150px;
    }
}

.new-project__title {
    color: $text-colour;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }
}

.new-project__book-call {
    color: $text-colour;
    text-align: left;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    position: relative;

    &::before {
        content: "";
        background: url(../../img/svg/right-arrow.svg);
        width: 32px;
        height: 16px;
        position: absolute;
        background-position: center;
        top: 20%;
        right: 0;
        margin-right: 55px;
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        font-size: 24px;

        &::before {
            margin-top: 3px;
            margin-right: 270px;
        }



    }
}


.socials {
    padding-top: 113px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
}

.footer__copyright {
    color: $text-colour;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}
