@import "../root/root.scss";

.meet-alex {
    // padding-left: 16px;
    // padding-right: 16px;
    background-color: $background-colour;
    height: 470px;
    width: 100%;
    

    @media screen and (min-width: 550px) {
        height: auto;
    }

    @media screen and (min-width: 768px) {
        height: 470px;
    }
}

.wrapper-meet-alex {
    max-width: 1087px;
    padding: 0px 16px;

    @media screen and (min-width: 768px) {
        padding: 0px 32px;
        max-width: 1119px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1055px;
    }
}

.meet-alex_flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 40px;
}

.meet-alex__title {
    padding-top: 74px;
    color: #FAEB49;
    font-size: 36px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        padding-top: 101px;
    }
}

.meet-alex__description {
    color: $text-colour;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    width: 342px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        width: 524px;
    }
}

.meet-alex__achievements-container {
    display: flex;
    gap: 14px;

    @media screen and (min-width: 768px) {
        gap: 96px;
    }
}

.meet-alex__achievement-number {
    color: $text-colour;
    font-size: 36px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }

    // @media screen and (min-width: 1200px) {
    //     padding-left: 191px;
    // }
}

.meet-alex__achievement-text {
    color: $text-colour;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
}

.meet-alex__separated-achievement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 74px;

    @media screen and (min-width: 768px) {
        padding-bottom: 101px;
    }
}

.meet-alex__background-ellipse1 {
    position: absolute;
    width: 160px;
    height: 320px;
    transform: rotate(45deg);
    border-radius: 50% / 50%;
    border: 1px solid #737373;
    top: 79px;
    right: -150px;

    @media screen and (min-width: 550px) {
        width: 200px;
        height: 400px;
        top: -3px;
    }

    @media screen and (min-width: 768px) {
        width: 256px;
        height: 512px;
        top: -32px;
    }

    @media screen and (min-width: 1200px) {
        width: 256px;
        height: 512px;
        top: -32px;
        right: -52px;
    }
}

.meet-alex__background-ellipse2 {
    position: absolute;
    width: 160px;
    height: 320px;
    transform: rotate(-45deg);
    border-radius: 50% / 50%;
    border: 1px solid #737373;
    top: 79px;
    right: -150px;

    @media screen and (min-width: 550px) {
        width: 200px;
        height: 400px;
        top: -4px;
    }

    @media screen and (min-width: 768px) {
        width: 256px;
        height: 512px;
        top: -4px;
    }

    @media screen and (min-width: 1200px) {
        width: 256px;
        height: 512px;
        right: -43px;
        top: -25px;
    }
}
